body {
/*	background: url(../scrougebg.jpg) no-repeat center center fixed;
	background-size: cover;*/
	text-align: center;
	font-family: 'Cardo', serif;
	background-color: white;
	font-weight: bolder;
	
}

#ban {
	font-size: 12vw;
	/*text-shadow: 0px 0px .1em #ffbf00;*/
	margin: .5em 0 .35em;
	font-family: 'Playball', sans-serif;
	color: black;
	font-weight: bolder;
	text-shadow:
    -1px -1px 0 #EBB518,
    1px -1px 0 #EBB518,
    -1px 1px 0 #EBB518,
    1px 1px 0 #EBB518;  
}

#board {
	width: 70vw;
	height: 70vw;
	margin: 0 auto;
	text-align: center;

}

.box {
	height: 33%;
	width: 33%;
	float: left;
	background-color: white;
	font-size: 17.5vw;
	text-shadow:
    -1px -1px 0 #EBB518,
    1px -1px 0 #EBB518,
    -1px 1px 0 #EBB518,
    1px 1px 0 #EBB518;	


}

.winScreen  {
	display: inline-block;
	position: fixed;
	background-image: url(../work.gif);
	background-size: cover;
	background-position: center;
	height: 101vh;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;	
	z-index: -1;
}

.unpicked {
	background-image: url("../bag.png");
	background-size: cover;
	background-position:  center center;
}

.score {
  	position: fixed;
  	display: inline-block;
	width: 90%;
  	margin: 1em auto 0;
  	padding: .5em 5%;
  	bottom: 0;
  	left: 0;
  	z-index: 3000;
  	background-color: rgba(255,255,255,.3);
  	color: black;
  	font-size: 1em;	
}

.score span {
	color: #EBB518;
}

#clearboard {
	font-family: 'Playball', sans-serif;
  	position: fixed;
  	display: inline-block;
	width: 20%;
  	margin: .65em 40%;
  	bottom: 0;
  	left: 0;
  	height: 1em;
  	z-index: 4000;
	color: #EBB518;
	font-weight: bolder; 
  	font-size: 1.25em;	
}

#clearboard:hover {
	color: black;
}	

#player1Wins {
	display: inline-block;
	float: left;
}

#player2Wins {
	display: inline-block;
	float: right;
}

#button {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 6000;
	font-size: 2em;
	padding: .25em 0;
  	width: 83%;
  	max-width: 30em;
  	background-color: black;
  	margin: 0 auto;
  	color: #EBB518;
 	font-weight: bold;
 	letter-spacing: .05em;
 	bottom:2em;
}

#button:hover {
  	color: black;
  	background-color: #EBB518; 	
}

.animatedButton { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.025); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.025); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}


@media (min-width: 35em) {

	#ban {
		font-size: 9vw;
		line-height: .5em;
		margin: .5em 0 .35em;
	}	

	.box {
		font-size: 17.5vh;
	}
	
	#board {
		width: 60vh;
		height: 60vh;
		margin: 0 auto;
	}

}

@media (min-width: 55em) {

	#ban {
		font-size: 6vw;
	}


}	

