<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>TicTacToe</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="js/angular.min.js"></script>	
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/angularfire.js"></script>
    <script type="text/javascript" src="js/app.js"></script>        
	<script type="text/javascript" src="js/controller.js"></script>
	<meta name="viewport" content="initial-scale=1">
</head>
<body ng-controller="MainController as mainCtrl">	
	<h1 id="ban">Get that Dough</h1>
	<div id="board" ng-show="mainCtrl.board">
		<div class="box" ng-repeat="b in mainCtrl.boxes" ng-click="mainCtrl.playerMove($index)" ng-class="{'unpicked': b.bag}">{{b.text}}
		</div>
	</div>
	<div id="button" ng-show="mainCtrl.resetButton" ng-click="mainCtrl.reset()" id="animated-example" class="animated pulse">Play Again</div>
	<div id="clearboard" ng-click="mainCtrl.clearBoard()">Clear</div>
	<div class="score">
		<div id="player1Wins">PLAYER X | <span ng-bind="mainCtrl.tallyX.wins"></span></div>
		<div id="player2Wins">PLAYER O | <span ng-bind="mainCtrl.tallyO.wins"></span></div>
	</div>
	<div class="winScreen" ng-show="mainCtrl.win"></div>
</body>
</html>